

<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="index.html" class="logo">
                <i class="icon-c-logo">EV</i>
                <img src="~/Content/images/EVA_LOGO2.png" width="135" height="36"/>
            </a>
        </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <a href="#" class="waves-effect waves-light">@Session["NombreCompleto"] ,EVA360 te da la bienvenida!</a>
                    </li>
                    <li class="dropdown top-menu-item-xs">
                        <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="@Url.Content("~/Content/images/user.png")" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Logout","Login")"><i class="ti-power-off m-r-10 text-danger"></i> Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
